.demo-sidenav-area {
  position: fixed;
  top: 40px;
  bottom: 40px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;

  .mat-toolbar {
    flex: 0;
  }

  .mat-sidenav-container {
    flex: 1;
  }
}

mat-sidenav {
  padding: 10px;
}
